<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Aula**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Aulas**

## 1\. Introdução ao Google Colab

> Ferramenta web autogerênciada de cadernos (*notebooks*).

### **1.1. Ferramenta web**



*   Crie uma conta Google em [gmail.com](https://gmail.com);
*   Acesse o Google Colab através do endereço [colab.research.google.com](https://colab.research.google.com/).

### **1.2. Autogerênciada**



*   A Google provisiona uma máquina virtual para você;
*   A máquina virtual dura no máximo 12h.

### **1.3. Cadernos (*notebooks*)**

Um **caderno** é um documento *web* composto por um conjunto de elementos (células) de texto e código:


*   Células de **texto** podem ser editados com o editor da ferramenta, HTML ou Markdown;
*   Células de **código** são exclusivamente para a linguagem de programação Python.

In [1]:
print("olá mundo!")

olá mundo!

## 2\. Variáveis

### **2.1. Definição**

Mecanismo de armazenamento volátil de dados, ou seja, dados salvos em pedacinhos da memória RAM do sistema computacional em uso (*notebook*, *mobile*, console de vídeo game, *smartwatch*, etc.).

In [2]:
idade = 22
print(idade)

idade = 22
print(idade)

nome = "Joao Pedro"
print(nome)

22
22
Joao Pedro

### **2.2. Tipos nativos**

**Tipos numéricos:** inteiros (`int`) e decimais (`float`):

In [3]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

1000
<class 'int'>
0.05
<class 'float'>

**Tipos de texto:** *strings* (`str`):

In [4]:
primeiro_nome = "Joao"

print(primeiro_nome)
print(type(primeiro_nome))

pais = 'Brasil'

print(pais)
print(type(pais))

Joao
<class 'str'>
Brasil
<class 'str'>

**Tipos lógicos:** booleanos (`bool`):

In [5]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

True
<class 'bool'>

**Tipo vazio** (`NoneType`):

In [6]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

## 3\. Números

### **3.1. Motivação**

Você precisa calcular o **ticket médio** diário `tkt` do seu restaurante. A métrica é calculada pela soma do valor das vendas `svv` de um mesmo dia dividido pela quantidade de vendas `sqv`, também de um mesmo dia.

$tkt = svv / sqv$

Esta é a sua planilha:

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

Como podemos fazer este cálculo usando o Python?

### **3.2. Definição**

Armazenam **valores numéricos**:

*   `10, 37, 500` (inteiros);
*   `0.333, 10.1` (decimais);
*   `1 + 2j` (complexos).

São dos tipos:

*   `int` (inteiros);
*   `float` (decimais);
*   `complex` (complexos).

In [7]:
print(type(37))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

### **3.3. Operações**

As operações dos tipos numéricos são as quatro operações matemáticas fundamentais:

*   `+` (soma);
*   `-` (subtração);
*   `*` (multiplicação);
*   `/` (divisão).

Além de operações mais avançadas:

*   `//` (divisão inteira)
*   `**` (potência ou exponenciação);
*   `%` (resto de divisão).

**Exemplo**: Carrinho de compra de um *e-commerce*.

In [8]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra = qtd_items_carrinho_compra + 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra = qtd_items_carrinho_compra - 1
print(qtd_items_carrinho_compra)

1
0

In [9]:
qtde_itens_carrinho_compra = 0

qtde_itens_carrinho_compra += 1
print(qtde_itens_carrinho_compra)

qtde_itens_carrinho_compra -= 1
print(qtde_itens_carrinho_compra)

1
0

**Exemplo**: Total a pagar de um produto.

In [10]:
alcatrakg = 47
quantidade = 0.250

total_a_pagar = quantidade * alcatrakg
print(total_a_pagar)

11.75

In [11]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

### **3.4. Conversão**

Podemos converter os tipos numéricos entre si utilizando o método nativo `int`, `float` e `complex`:

In [12]:
print(int(3.9))

3

In [13]:
print(float(10))

10.0

In [14]:
print(complex(1))

(1+0j)

### **3.5. Revisitando a motivação**

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

Ticket médio diário do dia 19/01.

In [15]:
svv_19 = 153.98
sqv_19 = 3

tkt_19 = svv_19 / sqv_19
print(f'DIA "19" FORAM FEITAS {sqv_19} VENDAS, CADA UMA NO VALOR DE R$ {tkt_19:.2f}')

DIA "19" FORAM FEITAS 3 VENDAS, CADA UMA NO VALOR DE R$ 51.33

Ticket médio diário do dia 20/01.

In [16]:
svv_20 = 337.01
sqv_20 = 7

tkt_20 = svv_20 / sqv_20
print(f'DIA "20" FORAM FEITAS {sqv_20} VENDAS, CADA UMA NO VALOR DE R$ {tkt_20:.2f}')

DIA "20" FORAM FEITAS 7 VENDAS, CADA UMA NO VALOR DE R$ 48.14

Ticket médio diário do dia 23/01.

In [17]:
svv_21 = 295.33
sqv_21 = 5

tkt_21 = svv_21 / sqv_21
print(f'DIA "21" FORAM FEITAS {sqv_21} VENDAS, CADA UMA NO VALOR DE R$ {tkt_21:.2f}')

DIA "21" FORAM FEITAS 5 VENDAS, CADA UMA NO VALOR DE R$ 59.07

Ticket médio

In [18]:
tkt_medio = (tkt_19 + tkt_20 + tkt_21) / 3
print(f'TICKET MÉDIO DIÁRIO GASTO POR CADA CLIENTE: R$ {tkt_medio:.2f} REAIS.')

TICKET MÉDIO DIÁRIO GASTO POR CADA CLIENTE: R$ 52.85 REAIS.

## 4\. *Strings*

### **4.1. Motivação**

A empresa que você trabalha adquiriu uma *startup* de logística. Você precisa identificar todos endereços que são comum a ambas. Na sua empresa, você armazena a latitude e longitude dos endereços em duas variáveis `lat` e `lon`, já a *startup* adquirida em uma única variável `latlon`.

In [19]:
# sua empresa
lat = '-22.005320'
lon = '-47.891040'

# startup adquirida
latlon = '-22.005320;-47.891040'

Como podemos normalizar a forma com que as latitudes e longitudes são armazenadas para possam ser comparadas?

### **4.2. Definição**

Armazenam **textos**:


*   `c`, `EBAC`, `Joao Pedro, 22 anos` (texto)

São do tipo `str`:

In [20]:
nome_aula = 'Aula 04, Módulo 01, Strings'

print(nome_aula)
print(type(nome_aula))

Aula 04, Módulo 01, Strings
<class 'str'>

In [21]:
string_vazia = ""

print(string_vazia)
print(type(string_vazia))

<class 'str'>

### **4.3. Operações**

As operações de variáveis do tipo *string* são:


*   `+` (concatenação).

**Exemplo:** Nome completo.

In [22]:
nome = 'Joao'
sobrenome = 'Pedro'

apresentacao = 'Olá, meu nome é ' + nome + ' ' + sobrenome + '.'
print(apresentacao)

Olá, meu nome é Joao Pedro.

Uma outra forma de concatenar strings é utilizar operações de formatação:

In [23]:
nome = 'Joao'
sobrenome = 'Pedro'

apresentacao = f'Olá, meu nome é {nome} {sobrenome}.'
print(apresentacao)

Olá, meu nome é Joao Pedro.

Outra operação muito utilizada é a de fatiamento (*slicing*):

**Exemplo**: Informações de email.

In [24]:
email = 'dev.cobos@outlook.pt'



Fatiamento fixo:

|d|e|v|.|c|o|b|o|s|@|o|u|t|l|o|o|k|.|p|t|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|

In [25]:
print('0: ' + email[0])
print('19: ' + email[19])

0: d
19: t

In [37]:
print('-7: ' + email[-7])
print('-6: ' + email[-6])
print('-5: ' + email[-5])
print('-4: ' + email[-4])

-7: l
-6: o
-5: o
-4: k



Fatiamento por intervalo:

|d|e|v|.|c|o|b|o|s|@|o|u|t|l|o|o|k|.|p|t|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|

In [47]:
email_usuario = email[0:9]
print(email_usuario)

dev.cobos

In [46]:
email_provedor = email[9:20]
print(email_provedor)

@outlook.pt

### **4.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com *strings*:

In [48]:
endereco = 'Avenida Paulista, 2309 - São Paulo, Brasil.'

In [49]:
# MAIÚSCULO: string.upper()
print(endereco.upper())

AVENIDA PAULISTA, 2309 - SÃO PAULO, BRASIL.

In [50]:
# POSIÇÃO: string.find(substring)
posicao = endereco.find('Avenida')
print(f'1º CARACTERES DA SUB.STRING: {posicao}')

1º CARACTERES DA SUB.STRING: 0

In [51]:
# SUBSTITUIÇÃO: string.replace('old', 'new')
print(endereco.replace('Avenida', 'Av.'))

Av. Paulista, 2309 - São Paulo, Brasil.

### **4.5. Conversão**

Podemos converter *strings* em tipos numéricos e vice-versa.

In [52]:
idade = 22
print(type(idade))

idade = str(idade)
print(type(idade))

<class 'int'>
<class 'str'>

In [53]:
faturamento = 'R$ 35 mi'
print(faturamento)
print(type(idade))

faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))

R$ 35 mi
<class 'str'>
35
<class 'int'>

### **4.6. Revisitando a motivação**

Encontrando a posição do caracter `;` de divisão das *strings* de latitude e longitude da variável da startup:

In [54]:
posicao_caracteres = latlon.find(';')
print(f'ÍNDICE -> {posicao_caracteres}')

ÍNDICE -> 10

Extraindo a latitude:

In [55]:
lat_startup = latlon[0:posicao_caracteres]
print(lat_startup)

-22.005320

Extraindo a longitude:

In [57]:
lon_startup = latlon[posicao_caracteres+1:len(latlon)] # (LEN) MOSTRA O TAMANHO DA STR
print(lon_startup)

-47.891040

## 5\. Boleanos

### **5.1. Motivação**

Em *websites* (redes sociais, *e-commerce*, corporativos, etc.) é comum o uso de sistemas de controle de acesso, o famoso *login*. Em geral, nestes sistemas um usuário fornece dois dados: `usuario` e `senha`:

In [58]:
usuario = 'drauziovarella'
senha = 'coreldraw2021'

Do lado do servidor, o *backend* do *website* tem armazenado os dados de usuário e senha fornecidas pelo usuário no momento do cadastro: `usuario_cadastro` e `senha_cadastro`:

In [59]:
usuario_cadastro = 'drauziovarella'
senha_cadastro = 'coreldraw2021'

Como comparamos se as *strings* (`usuario`, `usuario_cadastro`) e (`senha`,`senha_cadastro`) são iguais para conceder ou bloquear o acesso do usuário?

### **5.2. Definição**

Armazenam **valores lógicos**:

*   `True` (verdadeiro);
*   `False` (falso).

In [60]:
verdadeiro = True
print(verdadeiro)

True

In [61]:
falso = False
print(falso)

False

São do tipo `bool`.

In [62]:
print(type(True))

<class 'bool'>

São resultados de comparações lógicas. Os operadores de comparação lógica são:

*   `>` (maior);
*   `<` (menor);
*   `==` (igual);
*   `>=` (maior ou igual);
*   `<=` (menor ou igual);
*   `!=` (diferente).

**Exemplo:** Caixa eletrônico

In [63]:
saldo_em_conta = 200
valor_do_saque = 200

if valor_do_saque <= saldo_em_conta:
    print(f'SAQUE NO VALOR DE R$ {valor_do_saque:.2f} AUTORIZADO.')

else:
    print(f'SAQUE NÃO AUTORIZADO -> FUNDOS INSUFIC.')

SAQUE NO VALOR DE R$ 200.00 AUTORIZADO.

**Exemplo:** Cartão de crédito

In [64]:
cadastre_seu_cartao = 6062824427385234
confirme_codigo_seguranca = 202

numero_do_cartao = 6062824427385234
codigo_de_seguranca = 202

if confirme_codigo_seguranca == codigo_de_seguranca and cadastre_seu_cartao == numero_do_cartao:
    print(f'PAGAMENTO AUTORIZADO. PEDIDO #22388980 ')

else:
    print(f'PAGAMENTO RECUSADO -> INCONSISTÊNCIA DE DADOS.')

PAGAMENTO AUTORIZADO. PEDIDO #22388980

### **5.3. Operações**

As operações de variáveis booleanas são:

* `|` (operador ou)
* `&` (operador e)
* `not` (operador não)


O conjunto de resultados de operações lógicas geralmente é resumido em uma tabela chamada "tabela da verdade":

| A        | B        | | | A OR B   | | A AND B  | | NOT A    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

**Exemplo**: Tabela da verdade do operador `|` (ou).

In [65]:
print(True | True)
print(True | False)
print(False | False)
print(False | True)

True
True
False
True

**Exemplo**: Tabela da verdade do operador `&` (e).

In [66]:
print(True & True)
print(True & False)
print(False & False)
print(False & True)

True
False
False
False

**Exemplo**: Tabela da verdade do operador `not` (não).

In [67]:
print(not True)
print(not False)

False
True

### **5.4. Conversão**

Podemos converter tipos numéricos e *strings* para booleanos através do método nativo `bool`:

In [68]:
idade = 22
tipo_sangue = 'O-'
filhos = 0
telefone_fixo = None
telefone_fixo = ''

print(bool(idade))
print(bool(tipo_sangue))
print(bool(filhos))
print(bool(telefone_fixo))
print(bool(telefone_fixo))

True
True
False
False
False

### **5.5. Revisitando a motivação**

Compara se os dados fornecidos pelo usuário são iguais aos dados do cadastro:

In [69]:
usuario_igual = usuario == usuario_cadastro
senha_igual = senha == senha_cadastro

print(usuario_igual, senha_igual)

True True

Decide se concede o acesso:

In [70]:
conceder_acesso = usuario_igual & senha_igual
print(conceder_acesso)

True

---

# **Conteúdo Extra**

### Documentação Google Colab

 - [Google Colab FAQ](https://research.google.com/colaboratory/faq.html): Perguntas mais frequentes sobre o Google Colab.

### Documentação Python


 - [Tipos Nativos](https://docs.python.org/pt-br/3/library/stdtypes.html): Documentação oficial dos tipos de variáveis nativas da linguagem Python;
 - [Métodos de String](https://www.w3schools.com/python/python_ref_string.asp): Lista de métodos de *strings* com exemplos.

### Cadernos

 - [JupyterLab](https://jupyter.org/): Projeto original de de cadernos;
 - [GCP Notebooks](https://cloud.google.com/ai-platform-notebooks): Solução autogerenciada de cadernos da empresa Google Cloud Platform (GCP);
 - [Azure Notebooks](https://notebooks.azure.com/): Solução autogerenciada de cadernos da empresa Microsoft Azure;
 - [Databricks Notebooks](https://databricks.com/product/collaborative-notebooks): Solução autogerenciada de cadernos da empresa Databricks;
 - [AWS Sagemaker Notebooks](https://aws.amazon.com/pt/sagemaker/): Solução autogerenciada de cadernos da empresa Amazon Web Services (AWS).