<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Fluxo Condicional & Repetição
Caderno de **Aula**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Estrutura condicional if / else / elif;</li>
  <li>Estrutura condicional try / catch / finally;</li>
  <li>Estrutura de repetição for / in.</li>
</ol>

---

# **Aulas**

## 1\. Estrutura condicional if / else / elif

### **1.1. if / else**

Estrutura de alteração de fluxo lógico do código, avalia um valor booleano ou uma comparação lógica. **Note** a identação do código.

```python
if <booleano / comparação lógica> == True:
  <execute este código>
else:
  <senão execute este código>
```

In [1]:
if False:
  print("Verdadeiro")
else:
  print("Falso")

Falso

**Exemplo**: Código de segurança de um cartão de crédito

In [2]:
codigo_seguranca = '157'
cvv_cadastrado = '912'

if codigo_seguranca == cvv_cadastrado:
    print('Pagamento efetuado. #8329981')
else:
    print('Código de segurança inválido.')

Código de segurança inválido.

**Exemplo**: Código e senha de segurança de um cartão de crédito

In [3]:
credit_card = '6062825032201322'
credit_card_cadastrado = '6062825032201322'
codigo_seguranca1 = '220'
cvv_cadastrado1 = '220'

Revisitando a tabela da verdade:

| CÓDIGO        | SENHA        | | | CÓDIGO OR SENHA   | | CÓDIGO AND SENHA  | | NOT CÓDIGO    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

In [4]:
# ESTRUTURA PARA COMPARAR MÚLTIPLAS VARIÁVEIS: ==

if (credit_card == credit_card_cadastrado) & (codigo_seguranca1 == cvv_cadastrado1):
    print('Pagamento efetuado. #8329981')
    print('Acompanhe o status do seu pedido.')
else:
    print('Pagamento não autorizado.')

Pagamento efetuado. #8329981
Acompanhe o status do seu pedido.

In [5]:
# ESTRUTURA PARA COMPARAR VARIÁVEIS DIFERENTES: !=

if (credit_card != credit_card_cadastrado) | (codigo_seguranca1 != cvv_cadastrado1):
    print('Pagamento não autorizado.')
else:
    print('Pagamento efetuado. #8329981')
    print('Acompanha o status do seu pedido.')

Pagamento efetuado. #8329981
Acompanha o status do seu pedido.

### **1.2. if / elif / else**

Podemos também avaliar múltipla condições.

```python
if <1º booleano / 1ª comparação lógica> == True:
  <execute este código se a primeira condição for verdade>
elif <2º booleano / 2ª comparação lógica> == True:
  <execute este código se a segunda condição for verdade>
else:
  <senão execute este código>
```

| CÓDIGO        | SENHA        | | | CÓDIGO AND SENHA  | MENSAGEM |
|----------|----------|-|-|----------|-|
| **TRUE** | **TRUE** | | | **TRUE** | Pagamento efetuado |
| **TRUE** | FALSE    | | | FALSE    | Erro: Senha inválida |
| FALSE    | FALSE    | | | FALSE    | Erro: Código de segurança e senha inválidos |
| FALSE    | **TRUE** | | | FALSE    | Erro: Código de segurança inválido |

In [6]:
if (credit_card == credit_card_cadastrado) & (codigo_seguranca1 == cvv_cadastrado1):
    print('Obaaaa! Pagamento pré-aprovado.')
elif (credit_card == credit_card_cadastrado) & (codigo_seguranca1 != cvv_cadastrado1):
    print('Código de segurança inválido.')
elif (credit_card != credit_card_cadastrado) & (codigo_seguranca1 == cvv_cadastrado1):
    print('Número do cartão inválido.')
else:
    print('Número do cartão inválido e código de segurança inválido.')

Obaaaa! Pagamento pré-aprovado.

## 2\. Estrutura condicional try /except / finally

### **2.1. Exceção**

Exceções são erros que podem acontecer durante a execução do nosso código.

**Exemplo**: Erro de operações numéricas impossíveis

In [7]:
preco = 132.85
pessoas = 0

In [8]:
valor_por_pessoa = preco / pessoas

ZeroDivisionError: float division by zero

**Exemplo**: Erro por combinações de tipos diferentes

In [9]:
nome = 'JOAO'
idade = 22

apresentacao = 'PRAZER MEU NOME É' + ' ' + nome + ' ' + 'E TENHO' + ' ' + idade + ' ' + 'ANOS'
print(f'IDENTIFICAÇÃO: {apresentacao}')

TypeError: can only concatenate str (not "int") to str

**Exemplo**: Erro de indexação de estrutura de dados

In [10]:
cursos = {
    'python': {
        'nome': 'Python para Análise de Dados', 'duração': 2.5
    },
    'sql': {
        'nome': 'SQL para Análise de Dados', 'duração': 2
    }
}

try:
    curso_atual = cursos['Analista']                    # PROCURANDO UMA CHAVE QUE NÃO EXISTE
    print(f'CURSO EM ANDAMENTO: {curso_atual}')
except Exception:
    print(f'NÃO ENCONTRAMOS O CURSO QUE VOCÊ PROCURA.')

NÃO ENCONTRAMOS O CURSO QUE VOCÊ PROCURA.

### **2.2. try / except**

Estrutura para tratar exceções:

In [11]:
preco = 132.85
pessoas = 0

try:                                                    # POSSIVELMENTE PODE ACONTECER UM ERRO
    valor_pessoa = preco / pessoas
    print(f'CADA PESSOA DEVERÁ PAGAR: {valor_pessoa}')

except ZeroDivisionError:                               # COLOCAMOS O TIPO DE ERRO QUE SE ESPERA ACONTECER
    print(f'NÚMERO DE PESSOAS INVÁLIDO. QUANTIDADE INFORMADA: {pessoas}')

NÚMERO DE PESSOAS INVÁLIDO. QUANTIDADE INFORMADA: 0

In [12]:
anos = [2020, 2021, 2022]

try:
    ano_atual = anos[3]
    print(f'ANO: {ano_atual}')
except Exception as exc:
    print(f'DESCRIÇÃO DA EXCEÇÃO: {exc}')               # CAPTURANDO O ERRO
    print('TIPO DE EXCEÇÃO: ' + str(type(exc)))

DESCRIÇÃO DA EXCEÇÃO: list index out of range
TIPO DE EXCEÇÃO: <class 'IndexError'>

In [13]:
anos = [2020, 2021, 2022]

try:
    ano_atual = anos[3]
    print(f'ANO: {ano_atual}')
except IndexError:                                      # TRATANDO ERROS ESPECÍFICOS
    print(f'VALOR NÃO ENCONTRADO.')
except Exception as exc:                                # TRATANDO ERROS GENÉRICOS
    print(f'DESCRIÇÃO DA EXCEÇÃO: {exc}')

VALOR NÃO ENCONTRADO.

### **2.3. try / except / finally**

In [15]:
nome = 'JOAO'
idade = 22

try:
    apresentacao = 'PRAZER MEU NOME É' + ' ' + nome + ' ' + 'E TENHO' + ' ' + idade + ' ' + 'ANOS'
    print(f'IDENTIFICAÇÃO: {apresentacao}')
except TypeError:
    idade = str(idade)              # CORRIGINDO A CONCATENAÇÃO DE INT PARA STR
finally:
    apresentacao = 'PRAZER MEU NOME É' + ' ' + nome + ',' + ' ' + 'E TENHO' + ' ' + idade + ' ' + 'ANOS.'
    print(f'INFELIZMENTE NÃO FOI POSSÍVEL CONFIRMAR A SUA IDENTIFICAÇÃO.')
    print(f'FIQUE TRANQUILO. NOSSO SISTEMA IDENTIFICOU O ERRO E CORRIGIU-O.')
    print(f'IDENTIFICAÇÃO: {apresentacao}')

INFELIZMENTE NÃO FOI POSSÍVEL CONFIRMAR A SUA IDENTIFICAÇÃO.
FIQUE TRANQUILO. NOSSO SISTEMA IDENTIFICOU O ERRO E CORRIGIU-O.
IDENTIFICAÇÃO: PRAZER MEU NOME É JOAO, E TENHO 22 ANOS.

## 3\. Estrutura repetição for / in

### **3.1. for / in**

Estrutura que permite a execução repetida de um bloco de código repetidas vezes.

```python
for variavel_temporaria in coleção:
  <execute este código>
```

### **3.2. for / in / range**

Estrutura que permite a execução repetida de um bloco de código **n** vezes.

In [16]:
for valor in range(6):
    print(valor)

0
1
2
3
4
5

In [17]:
# SOMANDO NÚMEROS: 100 + 1 + 2 + 3 + 4 + 5 = 115
soma = 100
for valor in range(0, 6):
    soma = soma + valor
    print(soma)

100
101
103
106
110
115

In [18]:
# MÚLTIPLOS DE DOIS: 2, 4, 6, 8, 10.
for multiplo_dois in range(2, 12, 2):
    print(multiplo_dois)

2
4
6
8
10

### **3.3. for / in / list**

Estrutura que permite a execução de um bloco de código para todos os elementos de uma lista.

In [19]:
frutas = ['banana', 'laranja', 'abacate', 'maracujá']
for fruta in frutas:
    print(fruta)

banana
laranja
abacate
maracujá

In [23]:
frase = 'JOAO PEDRO'
for caracteres in frase:
    if (caracteres == 'P') | (caracteres == "A"):
        print(f'A letra "{caracteres}" está presente na frase.')

A letra "A" está presente na frase.
A letra "P" está presente na frase.

### **3.4. for / in / dict**

Estrutura que permite a execução de um bloco de código para todos os elementos de um dicionário.

In [24]:
credito = {'001': 660, '002': 890, '003': 998}

In [25]:
for chave, valor in credito.items():
    print(f'Para o documento {chave}, o valor do SCORE de crédito é {valor}.')
    #print('\n') ESSE COMANDO FAZ O PYTHON PULAR UMA LINHA

Para o documento 001, o valor do SCORE de crédito é 660.
Para o documento 002, o valor do SCORE de crédito é 890.
Para o documento 003, o valor do SCORE de crédito é 998.

In [26]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'Para o documento {chave}, o valor do escore de crédito é {credito[chave]}.')
  print('\n')

001
660
Para o documento 001, o valor do escore de crédito é 660.


002
890
Para o documento 002, o valor do escore de crédito é 890.


003
998
Para o documento 003, o valor do escore de crédito é 998.

In [27]:
for valor in credito.values():
  print(valor)
  print(f'O valor do escore de crédito é {valor}, mas não temos mais as chaves :(.')
  print('\n')

660
O valor do escore de crédito é 660, mas não temos mais as chaves :(.


890
O valor do escore de crédito é 890, mas não temos mais as chaves :(.


998
O valor do escore de crédito é 998, mas não temos mais as chaves :(.

### **3.5. break / continue**

Estrutura que permite a quebra ou o avanço de um laço de repetição.

In [28]:
for i in range(0, 10*10*10*10*10*10):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [29]:
numero = 3

if numero % 2 == 0:
  print(f'O numero {numero} é par')
else:
  print(f'O numero {numero} é impar')

O numero 3 é impar

In [30]:
numeros = [361, 553, 717, 194, 135, 220]
for numero in numeros:
    if numero % 2 == 0: # TODOS NÚMEROS EM QUE O RESTO DA DIVISÃO POR 2 É IGUAL A 0 -> NÚMERO PAR
        print(f'O número {numero} é par.')
        break # QUANDO ENCONTRAR O PRIMEIRO NÚMERO PAR, O BREAK QUEBRA O LAÇO DE REPETIÇÃO
    else:
        print(f'O número {numero} é ímpar.')

O número 361 é ímpar.
O número 553 é ímpar.
O número 717 é ímpar.
O número 194 é par.

In [31]:
numeros = [361, 553, 717, 194, 135, 220]
for numero in numeros:
    if numero % 2 == 0:
        print(f'O número {numero} é par.')
        break
    else:
        continue    # AVANÇA A EXECUÇÃO PARA O PRÓXIMO ITEM DA NOSSA SEQUÊNCIA
        print(f'O número {numero} é ímpar.')

O número 194 é par.